<section class="widget twitch-stream">
    <div class="widget-icon">
        {{ partial "helper/icon" "brand-twitch" }}
    </div>

    <h2 class="widget-title section-title">Live on Twitch</h2>

    <div class="twitch-stream__player">
        <iframe
            src="https://player.twitch.tv/?channel=sleepymario&amp;parent=sleepymario.com&amp;parent=www.sleepymario.com&amp;muted=true"
            title="SleepyMario live on Twitch"
            loading="lazy"
            allow="autoplay; fullscreen"
            allowfullscreen>
        </iframe>
    </div>
</section>
